{{range .}}
REPLACE INTO harmolytics_default.tokens (
    address,
    symbol,
    name,
    decimals
)
VALUES (
    '{{.Address.OneAddress}}',
    '{{.Symbol}}',
    '{{.Name}}',
    {{.Decimals}}
);
{{end}}