{{range .Swaps}}
REPLACE INTO harmolytics_profile_{{$.Profile}}.swaps (
    hash,
    input_token,
    output_token,
    input_amount,
    output_amount
)
VALUES (
    '{{.TxHash}}',
    '{{.InToken.Address.OneAddress}}',
    '{{.OutToken.Address.OneAddress}}',
    {{.InAmount}},
    {{.OutAmount}}
);
{{end}}