{{range .}}
{{$first := true}}
REPLACE INTO harmolytics_default.methods (
    signature,
    name,
    parameters
)
VALUES (
    '{{.Signature}}',
    '{{.Name}}',
    '{{- range .Parameters}}{{if $first}}{{$first = false}}{{else}}:{{end}}{{.}}{{- end}}'
);
{{end}}