{{range .Liquidity}}
REPLACE INTO harmolytics_profile_{{$.Profile}}.liquidity_actions (
    hash,
    token_a,
    amount_a,
    token_b,
    amount_b,
    token_lp,
    amount_lp,
    direction
)
VALUES (
    '{{.TxHash}}',
    '{{.LP.TokenA.Address.OneAddress}}',
    {{.AmountA}},
    '{{.LP.TokenB.Address.OneAddress}}',
    {{.AmountB}},
    '{{.LP.LpToken.Address.OneAddress}}',
    {{.AmountLP}},
    '{{.Direction}}'
);
{{end}}