{{range .Transfers}}
REPLACE INTO harmolytics_profile_{{$.Profile}}.token_transfers (
    hash,
    token,
    sender,
    receiver,
    amount
)
VALUES (
    '{{.TxHash}}',
    '{{.Token.Address.OneAddress}}',
    '{{.Sender.OneAddress}}',
    '{{.Receiver.OneAddress}}',
    '{{.Amount}}'
);
{{end}}