{{range .}}
REPLACE INTO harmolytics_historic.liquidity_ratios (
    liquidity_pool,
    block_num,
    reserve_a,
    reserve_b
)
VALUES (
    '{{.LP.LpToken.Address.OneAddress}}',
    {{.BlockNum}},
    {{.ReserveA}},
    {{.ReserveB}}
);
{{end}}