{{range $i, $t := .Transactions}}
REPLACE INTO harmolytics_profile_{{$.Profile}}.transactions (
    hash,
    sender,
    receiver,
    input,
    method_signature,
    unixtime,
    gas_amount,
    gas_price,
    value,
    shard_id,
    to_shard_id,
    block_num
)
VALUES (
    '{{.TxHash}}',
     '{{.Sender.OneAddress}}',
     '{{.Receiver.OneAddress}}',
     '{{.Input}}',
     '{{.Method.Signature}}',
     {{.Timestamp}},
     {{.GasAmount}},
     {{.GasPrice}},
     {{.Value}},
     {{.ShardID}},
     {{.ToShardID}},
     {{.BlockNum}}
);

{{range .Logs}}
{{$first := true}}
REPLACE INTO harmolytics_profile_{{$.Profile}}.transaction_logs (
    hash,
    log_index,
    address,
    data,
    topics
)
VALUES (
    '{{$t.TxHash}}',
    '{{.LogIndex}}',
    '{{.Address.OneAddress}}',
    '{{.Data}}',
    '{{- range .Topics}}{{if $first}}{{$first = false}}{{else}}:{{end}}{{.}}{{- end}}'
);
{{end}}
{{end}}