{{range .}}
REPLACE INTO harmolytics_default.liquidity_pools (
    address,
    token_a,
    token_b
)
VALUES (
    '{{.LpToken.Address.OneAddress}}',
    '{{.TokenA.Address.OneAddress}}',
    '{{.TokenB.Address.OneAddress}}'
);
{{end}}